.menu {
  display: none;
  z-index: 1000;
  @media (min-width: $min-large-devices) {
    display: flex;
    min-width: 21.5%;
    flex-grow: 1;
  }

  &__blure {
    background-color: $white;
    flex-grow: 1;
    opacity: 0.96;
    display: none;
    @media (min-width: $min-middle-devices) {
      display: block;
    }
  }

  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    @media (min-width: $max-middle-devices) {
      display: block;
    }
    @media (min-width: $min-large-devices) {
      position: static;
      min-width: 100%;
    }
  }

  &__overlay,
  &__wrapper {
    z-index: 1000;
    animation-name: modalopen;
    animation-duration: 0.7s;
    @media (min-width: $min-large-devices) {
      animation: none;
    }
  }

  &__wrapper {
    box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02),
      16px 0px 52px rgba(14, 24, 80, 0.2);
    width: 320px;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "TTLakes", sans-serif;
    font-weight: 500;
    position: relative;
    top: 0;
    left: 0;
    background-color: $white;
    opacity: 1;
    flex-grow: 1;
   
    @media (min-width: $min-middle-devices) {
      flex-grow: 0;
    }

    @media (min-width: $min-large-devices) {
      box-shadow: none;
      width: 100%;
      height: 1024px;
      flex-grow: 1;
      min-height: auto;
      position: sticky;
      top: 0;
    }
  }

  &__footer-down {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    @media (min-width: $min-large-devices) {
      flex-grow: 0;
      margin-top: 210px;
    }
  }

  & button:hover {
    filter: drop-shadow(0.1px 0.1px 2px #000);
    transform: scale(1.05);
    transition-duration: 0.2s;
  }
}

.menu-header {
  height: 116px;
  display: flex;

  &__close-menu {
    margin-left: 1rem;
    margin-top: 1.5rem;
    max-height: 40px;
    @media (min-width: $min-large-devices) {
      display: none;
    }
  }

  &__logo {
    margin-left: 1rem;
    margin-top: 19px;
    max-height: 51px;
  }

  &__menu-search {
    display: flex;
    max-height: 40px;
    justify-content: flex-end;
    flex-grow: 1;
    margin-top: 1.5rem;
    margin-right: 1rem;
    @media (min-width: $min-large-devices) {
    }
  }
}

.menu-navigation-element {
  margin-left: 24px;
  margin-bottom: 10px;
  line-height: 24px;
  letter-spacing: -0.2px;
  width: max-content;
  flex-grow: 1;
}

.menu-navigation {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  max-height: 452px;
  &__element1 {
    margin-left: 20px;
    margin-top: 4px;
  }

  &__element1::before {
    content: "";

    background-color: $turquoise;
    min-width: 4px;
    height: 32px;
    display: inline-block;
    border-radius: 0 100px 100px 0;
    align-content: center;
    position: relative;
    top: 10px;
    right: 20px;
  }
}
.menu-navigation-element > a {
  color: $black;
}

.menu-navigation-element:first-child > a {
  color: $gray;
}

.menu-navigation-element:first-child:hover > a {
  color: $black;
}

.menu-footer {
  display: flex;
  flex-direction: column;
  margin-left: 24px;
  justify-items: flex-end;
  &__email {
    margin-top: 16px;
    color: $black;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    width: max-content;
  }

  &__phone-number {
    margin-top: 12px;
    margin-bottom: 40px;
    color: $black;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.6px;
    font-weight: 700;
    width: 196px;
    height: 32px;
  }
}
.menu-contacts-buttons {
  &__phone-call {
    margin-right: 16px;
  }

  &__chat {
    margin-right: 16px;
  }

  &__profile {
    margin-right: 16px;
  }
}
.menu-language-switch-button {
  margin-right: 7px;
  line-height: 24px;
  letter-spacing: -0.2px;
  font-size: 16px;
  &:first-child {
    color: $gray;
  }
}
