@import "./fonts.scss";
@import "./vars.scss";
@import "./clear.scss";
@import "./animations.scss";
@import "./main-content.scss";
@import "./brands.scss";
@import "./type-of-texnic.scss";
@import "./slider.scss";
@import "./price.scss";
@import "./get-offer.scss";
@import "./footer.scss";
@import "./menu.scss";
@import "./modal-feedback.scss";

html,
body {
  height: 100%;
}

body {
  background-color: $light-gray;
  font-family: "TTLakes", sans-serif;
}

.mainwrapper {
  @media (min-width: $min-large-devices) {
    display: flex;
  }
  &__split1{
    min-width: 21.5%;
  }
}
