$min-middle-devices: 768px;
$max-middle-devices: 1440px;
$min-large-devices: 1440px;

$light-gray: #f8f8f8;
$white: #ffffff;
$black: #1b1c21;
$turquoise: #41f6d7;
$gray: #7e7e82;
$pagination-color: #b5b6bc;
$light-turquoise: #d9fff5;
$border-color: #eaeaea;
$pink: #ff3e79;