$brands-title-color: #7e7e82;
$brands-background-color: #f8f8f8;
$brands-button-color: #1b1c21;
$pagination-background-color: #b5b6bc;
$brands-title-border-color: #D9FFF5;


$min-middle-devices: 768px;
$max-middle-devices: 1119.98px;
$min-large-devices: 1120px;


.brands-title {
  border-top: 1px solid $brands-title-border-color;
  min-width: 320px;
  min-height: 80px;
  padding: 16px;
  background: linear-gradient(270deg, #f8f8f8 0%, #ffffff 98.61%);
  transform: matrix(-1, 0, 0, 1, 0, 0);
  @media (min-width: $min-middle-devices) and (max-width: $max-middle-devices) {
    padding-right: 24px;
    min-height: 0;
  }

  @media (min-width: $min-large-devices) {
    padding-right: 32px;
    min-height: 0;
  }

  &__text {
    font-size: 1rem;
    line-height: 24px;
    letter-spacing: -0.2px;
    text-transform: uppercase;
    color: $brands-title-color;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    
  }
}


.brands-buttons .hidden {
  display: none;
}

.brands-buttons__wrapper {
  margin-bottom: 1rem;
  @media (min-width: $min-middle-devices) {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
  }
}

.brands-buttons {
  @media (min-width: $min-middle-devices) {
    margin-bottom: 8px;
    margin-top: 24px;
  }
}

.brands-buttons__container {
  margin-left: 16px;
  margin-top: 16px;
  @media (min-width: $min-middle-devices) {
    margin-left: 24px;
    margin-bottom: 16px;
    margin-right: 0px;
    margin-top: 0px;
  }
  @media (min-width: $min-large-devices) {
    margin-left: 32px;
    margin-right: 0px;
    margin-top: 0px;
  }
}

.brands-buttons__container img,
.brands-buttons__container button {
  @media (min-width: $min-middle-devices) and (max-width: $min-large-devices) {
    max-width: 224px;
    max-height: 72px;
  }

  @media (min-width: $min-large-devices) {
    max-width: 240px;
  }
}

.brands-show-all {
  display: none;
  margin-left: 24px;
  margin-right: 9px;
  margin-bottom: 32px;
  @media (min-width: $min-middle-devices) {
    display: flex;
  }

  &__button {
    font-family: "TTLakes";
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: $brands-button-color;
  }
}

.inverted {
  transform: rotate(180deg);
}

.brands-buttons__container.swiper-slide {
  width: auto;
}
