.get-offer {
  margin: 0px 1rem 40px 1rem;
  @media (min-width: $min-middle-devices) {
    margin-left: 1.5rem;
    margin-top: 1.5rem;
    max-width: 55%;
  }
  @media (min-width: $min-large-devices) {
    margin-left: 2rem;
    margin-top: 2rem;
    max-width: 38%;
  }
  &__description {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: $black;
    margin-bottom: 1rem;
  }

  &__button {
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: -0.2px;
    color: $black;
    text-align: start;
    max-width: 200px;
    @media (min-width: $min-large-devices) {
      max-width: 350px;
    }
  }

  &__button-image {
    vertical-align: middle;
  }
}
