$main-background-color: #f8f8f8;
$header-background-color: white;
$main-text-color: #1b1c21;

.wrapper {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  flex: 1 1 auto;
  justify-content: space-between;
  align-content: flex-end;
  background-color: $header-background-color;

  @media (min-width: 768px) and (max-width: 1119.98px) {
    justify-content: flex-end;
  }

  @media (min-width: 1120px) {
    display: none;
  }

  &__burger {
    margin-top: 24px;
    margin-bottom: 24px;
    margin-left: 16px;
    margin-right: 16.73px;
    @media (min-width: 768px) and (max-width: 1119.98px) {
      align-self: flex-start;
      order: 1;
      margin: 24px 20px 24px 24px;
    }
  }

  &__logo {
    margin-top: 18.59px;
    margin-bottom: 18.59px;
    margin-right: 16.73px;
    @media (min-width: 768px) and (max-width: 1119.98px) {
      margin-right: auto;
      order: 3;
    }
  }

  &__divider {
    flex-shrink: 0;
    width: 2px;
    height: 32px;
    border-radius: 1px;
    background-color: #eaeaea;
    margin-top: 28px;
    margin-bottom: 28px;
    margin-right: 20px;
    @media (min-width: 768px) and (max-width: 1119.98px) {
      margin-right: 20.73px;
      align-self: flex-start;
      order: 2;
    }
  }

  &__divider-2 {
    flex-shrink: 0;
    width: 2px;
    height: 32px;
    border-radius: 1px;
    background-color: #eaeaea;
    display: none;
    margin-top: 28px;
    margin-bottom: 28px;
    @media (min-width: 768px) and (max-width: 1119.98px) {
      display: inline;
      order: 7;
      margin: 28px 20px;
    }
  }

  &__call-button {
    display: none;
    @media (min-width: 768px) and (max-width: 1119.98px) {
      display: inline;
      order: 4;
      margin: 24px 0px 24px 16px;
    }
  }

  &__chat-button {
    display: none;
    @media (min-width: 768px) and (max-width: 1119.98px) {
      display: inline;
      order: 5;
      margin: 24px 0px 24px 16px;
    }
  }

  &__profile-button {
    display: none;
    @media (min-width: 768px) and (max-width: 1119.98px) {
      display: inline;
      order: 6;
      margin: 24px 0px 24px 16px;
    }
  }

  &__repair-button {
    margin-top: 24px;
    margin-bottom: 24px;
    margin-right: 16px;
    @media (min-width: 768px) and (max-width: 1119.98px) {
      order: 8;
    }
  }

  &__checkstatus-button {
    margin-top: 24px;
    margin-bottom: 24px;
    margin-right: 16px;
    @media (min-width: 768px) and (max-width: 1119.98px) {
      order: 9;
      margin-right: 24px;
    }
  }
}

.title {
  display: flex;
  margin-top: 24px;

  @media (min-width: 768px) and (max-width: 1119.98px) {
  }
  @media (min-width: 1120px) {
    margin-top: 42px;
    margin-bottom: 17px;
  }

  &__highlight {
    height: 40px;
    width: 4px;
    background-color: #41f6d7;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  &__text {
    width: 288px;
    height: 40px;
    margin-right: 16px;
    margin-left: 12px;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -0.6 px;
    color: $main-text-color;
    @media (min-width: 768px) and (max-width: 1119.98px) {
      margin-left: 20px;
    }
    @media (min-width: 1120px) {
      margin-left: 30px;
    }
  }

  &__buttons {
    display: none;
    @media (min-width: 1120px) {
      display: flex;
      margin-left: auto;
      align-items: center;
    }
  }

  &__repair-button {
    margin-right: 32px;
    margin-left: 8px;
  }

  &__checkstatus-button {
    margin-right: 32px;
    margin-left: 9px;
  }

  &__repair-button-text {
    margin-right: 8px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
  }
  &__checkstatus-button-text {
    margin-right: 9px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
  }
}

.list {
  display: flex;
  overflow: auto;
  margin-top: 24px;
  margin-bottom: 24px;
  margin-left: 16px;

  @media (min-width: 768px) and (max-width: 1119.98px) {
    margin-top: 32px;
    margin-bottom: 32px;
    margin-left: 24px;
  }
  @media (min-width: 1120px) {
    margin-left: 32px;
    margin-top: 8px;
    margin-bottom: 8px;
    flex-wrap: wrap;
  }
  &__element {
    box-sizing: border-box;
    display: flex;
    width: max-content;
    padding: 8px 9.3px 8px 16.54px;

    margin-left: 0px;
    line-height: 24px;
    color: #7e7e82;
    font-size: 1rem;
    @media (min-width: 768px) and (max-width: 1119.98px) {
      padding: 8px 9px 8px 16px;
    }
    @media (min-width: 1120px) {
      padding: 8px 21px;
    }
  }

  & li:first-child a {
    box-sizing: border-box;
    border: 2px solid #b8ffec;
    border-radius: 6px;
    @media (min-width: 1120px) {
      margin-bottom: 8px;
    }
  }

  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.content {
  display: flex;
  flex-direction: column;
  @media (min-width: 768px) and (max-width: 1119.98px) {
    width: 50%;
  }
  @media (min-width: 1120px) {
    width: 50%;
  }

  &__body {
    margin: 0px 16px 16px 16px;
    color: $main-text-color;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
    @media (min-width: 768px) and (max-width: 1119.98px) {
      margin: 0px 48px 10px 24px;
      line-height: 20px;
    }
    @media (min-width: 1120px) {
      margin: 8px 36px 13.78px 34px;
      line-height: 20px;
    }
  }

  .read-more {
    line-height: 24px;
    font-size: 16px;
    letter-spacing: -0.2px;
    font-size: 1rem;

    &__icon {
      margin-left: 24px;
      @media (min-width: 768px) and (max-width: 1119.98px) {
        margin-left: 33px;
      }
      @media (min-width: 1120px) {
        margin-left: 40px;
      }
    }

    &__button {
      margin-left: 16px;
      line-height: 24px;
      font-size: 16px;
      height: 24px;
      font-weight: 500;
      width: max-content;
      color: $main-text-color;
      @media (min-width: 1120px) {
        margin-left: 40px;
      }
    }
  }

  .body__text1 {
    display: none;
    @media (min-width: 768px) and (max-width: 1119.98px) {
      display: inline;
    }
    @media (min-width: 1120px) {
    }
  }

  .body__text2 {
    display: none;
    @media (min-width: 768px) and (max-width: 1119.98px) {
    }
    @media (min-width: 1120px) {
      display: inline;
    }
  }
}

.image-container {
  background-color: $main-background-color;
  margin-top: 16px;
  margin-bottom: 24px;
  @media (min-width: 768px) and (max-width: 1119.98px) {
    margin-top: 0px;
    margin-right: 25px;
    flex-basis: 50%;
    margin-bottom: 0px;
  }

  @media (min-width: 1120px) {
    flex-basis: 50%;
    margin-right: 28.6px;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  img {
    display: flex;
    width: 100%;
   
    @media (min-width: 768px) {
      border-radius: 2%;
      flex-grow: 1;
      
    }
  }
}

@media (min-width: 768px) {
  .main-container {
    display: flex;
    margin-bottom: 2rem;
  }
}

br {
  display: none;
  @media (min-width: 768px) {
    display: block;
  }
}
