.price {
  @media (min-width: $min-middle-devices) {
    margin-right: 1.5rem;
    margin-left: 1.5rem;
  }
  &__element {
    min-width: 260px;
    height: 200px;
    border-radius: 6px;
    background-color: $white;
    margin: 1rem 1rem 1rem 0.5rem;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    @media (min-width: $min-middle-devices) {
      flex-direction: row;
      height: 4rem;
      margin: 0;
    }

    // &--gray {
    //   display: none;
    //   @media (min-width: $min-middle-devices) {
    //     color: $gray;
    //     display: flex;
    //     margin: 0rem 1rem 1rem 1rem;
    //     flex: 1 1 auto;
    //   }
    // }
  }
  &__service,
  &__time,
  &__value {
    margin-top: 1rem;
    margin-left: 1rem;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
    flex-grow: 1;
  }

  &__time {
    display: flex;
    flex-grow: 1;
  }

  &__button-container {
    align-self: flex-end;
    margin-left: auto;
    margin-right: 1rem;
    margin-bottom: 1rem;
    @media (min-width: $min-middle-devices) {
    }
  }

  &__value--gray {
    color: $gray;
    letter-spacing: 0;
    opacity: 0.72;
    // margin-bottom: 4px;
    @media (min-width: $min-middle-devices) {
      display: none;
    }
  }

  &__table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
  }

  &__table th,
  &__table td {
    text-align: left;
  }

  &__table th {
    background-color: $white;
    font-size: 14px;
    line-height: 1rem;
    color: $gray;
    opacity: 0.72;
    font-weight: 400;
    padding-top: 1rem;
    padding-bottom: 1rem;
    // padding-left: 1rem;
  }

  &__table td {
    background-color: $white;
    border-bottom: 1px solid $border-color;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  &__table th:first-child,
  &__table td:first-child {
    padding-left: 1rem;
  }

  &__table {
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
  }

  &__table-button {
    float: right;
    max-height: 2rem;
    padding-right: 1rem;
  }

  &__table-body tr:last-child td:first-child {
    border-bottom-left-radius: 6px;
  }

  &__table-body tr:last-child td:last-child {
    border-bottom-right-radius: 6px;
  }

  &__table-body tr:first-child td:first-child {
    border-top-left-radius: 6px;
  }
  &__table-body tr:first-child td:last-child {
    border-top-right-radius: 6px;
  }
}
