.price {
  @media (min-width: $min-middle-devices) {
    margin-right: 1.5rem;
    margin-left: 1.5rem;
  }
  @media (min-width: $min-large-devices) {
    margin-right: 2rem;
    margin-left: 2rem;
  }
  &__element {
    min-width: 260px;
    height: 200px;
    border-radius: 6px;
    background-color: $white;
    margin: 1rem 1rem 1rem 0.5rem;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
  }
  &__service,
  &__time,
  &__value {
    margin-top: 1rem;
    margin-left: 1rem;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
    flex-grow: 1;
  }

  &__time {
    display: flex;
    flex-grow: 1;
  }

  &__button-container {
    align-self: flex-end;
    margin-left: auto;
    margin-right: 1rem;
    margin-bottom: 1rem;
  }

  &__value--gray {
    color: $gray;
    letter-spacing: 0;
    opacity: 0.72;
  }
}

.price__table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  margin-top: 1rem;
  background-color: $white;
  padding-right: 1rem;
  padding-left: 1rem;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2px;

  @media (min-width: $min-large-devices) {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }

  & th,
  & td {
    text-align: left;
  }

  & th {
    font-size: 14px;
    line-height: 1rem;
    color: $gray;
    opacity: 0.72;
    font-weight: 400;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: $light-gray;
  }

  & thead {
    box-shadow: 1rem 0 $light-gray, -1rem 0 $light-gray;
    @media (min-width: $min-large-devices) {
      box-shadow: 1.5rem 0 $light-gray, -1.5rem 0 $light-gray;
    }
  }

  & td {
    background-color: $white;
    border-bottom: 1px solid $border-color;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  &-button {
    float: right;
    max-height: 2rem;
  }

  &-body tr:last-child td:first-child {
    border-bottom-left-radius: 6px;
  }

  &-body tr:last-child td:last-child {
    border-bottom-right-radius: 6px;
  }

  &-body tr:first-child td:first-child {
    border-top-left-radius: 6px;
  }
  &-body tr:first-child td:last-child {
    border-top-right-radius: 6px;
  }

  & th:first-child,
  & td:first-child {
    width: 44.5%;
  }
  & th:nth-child(2),
  & td:nth-child(2) {
    width: 21.5%;
  }
}
